<div class="brimar-shipping-options" data-bind="visible: isVisible">
    <div class="step-title" data-bind="i18n: 'Brimar Shipping Options'"></div>
    <div class="shipping-options-wrapper">
        <div class="field choice">
            <input type="checkbox" id="brimar_residential" class="checkbox" data-bind="checked: isResidential, 
                              event: {change: handleOptionChange}" />
            <label class="label" for="brimar_residential">
                <span data-bind="text: getResidentialLabel()"></span>
            </label>
        </div>

        <div class="field choice">
            <input type="checkbox" id="brimar_scheduled" class="checkbox" data-bind="checked: isScheduled, 
                              event: {change: handleOptionChange}" />
            <label class="label" for="brimar_scheduled">
                <span data-bind="text: getScheduledLabel()"></span>
            </label>
        </div>
    </div>
</div>