<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <brimar>
                <active>1</active>
                <model>Brimar\Shipping\Model\Carrier\Brimar</model>
                <title>Brimar Shipping</title>
                <name>Brimar Shipping</name>
                <price>5.00</price>
                <surcharge_residential>2.00</surcharge_residential>
                <surcharge_scheduled>3.00</surcharge_scheduled>
                <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
            </brimar>
        </carriers>
    </default>
</config>