<div class="brimar-cart-shipping-options" data-bind="visible: isVisible">
    <fieldset class="fieldset">
        <legend class="legend" data-bind="i18n: 'Brimar Shipping Options'"></legend>

        <div class="field choice">
            <input type="checkbox" name="brimar_cart_residential" id="brimar_cart_residential" class="checkbox"
                data-bind="checked: isResidential,
                             event: { change: handleOptionChange },
                             attr: { 'aria-disabled': !isVisible() }"
                aria-labelledby="brimar_cart_residential_label" />
            <label class="label" id="brimar_cart_residential_label" for="brimar_cart_residential">
                <span data-bind="text: getResidentialLabel() || ''"></span>
            </label>
        </div>

        <div class="field choice">
            <input type="checkbox" name="brimar_cart_scheduled" id="brimar_cart_scheduled" class="checkbox" data-bind="checked: isScheduled,
                             event: { change: handleOptionChange },
                             attr: { 'aria-disabled': !isVisible() }" aria-labelledby="brimar_cart_scheduled_label" />
            <label class="label" id="brimar_cart_scheduled_label" for="brimar_cart_scheduled">
                <span data-bind="text: getScheduledLabel() || ''"></span>
            </label>
        </div>
    </fieldset>
</div>